/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Layout */

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #800000;
    padding: 20px;
}

/* Sidebar */

.sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

/* Cards */

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Summary Orders */

.summary-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

/* Dashboard Boards */

.boards-container {
    display: flex;
    gap: 20px;
}

/* Forms */

input {
    padding: 10px;
}

button {
    padding: 10px 15px;
}

/* Create Order */

.order-sections {
    display: flex;
    gap: 30px;
}

/* Order Display */

.order-box {
    background: #eeeeee;
    padding: 12px;
}

/* Staff & Kitchen Order Grids */

#staffOrders,
#kitchenOrders {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Search Section */

.search-section {
    display: flex;
    gap: 10px;
}

/* Order Status Colours */

.pending {
    color: gray;
}

.preparing {
    color: orange;
}

.serving {
    color: green;
}

.served {
    color: red;
}

/* FIFO Queue */

#nextOrder {
    margin-top: 15px;
}

/* Responsive Design */

@media (max-width: 900px) {
    .layout {
        flex-direction: column;
    }
}